@import "styles/_variables.scss";
@import "styles/_base.scss";

.home-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;

  .header {
    flex-shrink: 0;
    padding-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center; //TODO revisar porque en el figma no esta centrado
    gap: 6px;
  }

  .main {
    display: flex;
    flex-direction: column;
    height: 100%;

    .image-container {
      height: 100%;
      width: 100%;

      .image {
        background: url("../../assets/AppDevelopment.png");
        background-size: contain;
        background-origin: content-box;
        background-repeat: no-repeat;
        background-position: center;
        height: 80%;
        padding: 30px;
      }
    }

    .form {
      background-color: yellow;
      height: 350px;
      flex-shrink: 0;
    }
  }

  .background {
    position: absolute;
    bottom: 0;
    height: 76%;
    width: 100%;
    background-color: $background;
    border-radius: 40px 40px 0px 0px;
    z-index: -5;
  }
}
