@import "styles/_variables.scss";
@import "styles/_base.scss";

.form-container {
  text-align: center;
  padding-bottom: 32px;
  height: 100%;
  background-color: $white;
  box-shadow: 0px -14px 16px rgba(0, 0, 0, 0.05);
  border-radius: 40px 40px 0px 0px;

  @media (min-width: $desktop-width-small) {
    height: 100%;
    box-shadow: none;
    border-radius: none;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .retrieve-password-container {
    padding: 30px 23px;

    @media (min-width: $desktop-width-small) {
      padding: 0;
      width: 320px;
      margin-bottom: 56px;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 24px;
      margin-bottom: 28px;
    }
  }

  .button-container {
    display: flex;
    width: 100%;
    gap: 11px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $size-input;
      width: 100%;
      border: 1px solid $button-default;
      border-radius: 7px;
      font-family: $text-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      text-decoration-line: none;
      color: $button-default;

      &:visited {
        color: $button-default;
      }
    }
  }
}
