@import "styles/_variables.scss";

body {
  box-sizing: content-box;
}

h1,
h2,
p,
a,
label {
  font-family: $text-font;
}

h1 {
  font-family: $text-font;
  font-style: normal;
  font-weight: 700;
  font-size: $size-lg;
  display: flex;
  align-items: flex-end;
  color: $dark-gray;
  margin-bottom: 27px;
}
