@import "styles/_variables.scss";

// body {
//   color: white;
// }

h1,
h2,
p,
a,
label {
  font-family: $text-font;
}

h1 {
  font-family: $text-font;
  font-style: normal;
  font-weight: 700;
  font-size: $size-lg;
  display: flex;
  align-items: flex-end;
  color: $dark-gray;
}

// button {
//   height: 50px;
//   padding: 0 30px;
//   border-radius: 6px;
//   font-family: $text-font;
//   border: none;
//   letter-spacing: 1px;
//   font-weight: 600;
//   color: white;
//   background-color: blue;
//   max-width: 200px;
//   width: 100%;
//   &:disabled {
//     filter: grayscale(0.9);
//   }
// }
