@import "styles/_variables.scss";
@import "styles/_base.scss";

.form-container {
  text-align: center;
  padding-bottom: 32px; //TODO chequear con el fondo blanco que onda
  height: 100%;
  background-color: $white;
  box-shadow: 0px -14px 16px rgba(0, 0, 0, 0.05);
  border-radius: 40px 40px 0px 0px;

  .login-container {
    padding: 30px 23px;

    .warning {
      display: flex;
      padding: 16px;
      border: 1px solid #ffb1b8;
      border-radius: 6px;
      background-color: #fee7e9;
      gap: 16px;

      svg {
        width: 32px;
        height: 32px;
      }

      p {
        text-align: left;
        font-family: $error-font;
        font-style: normal;
        font-weight: 400;
        font-size: $size-warning;
        line-height: $size-md;
        color: #3c3c3b;
      }
      margin-bottom: 28px;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 24px;
      margin-bottom: 28px;
    }
  }

  a {
    font-family: $text-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: underline;
    color: $button-default;

    &:visited {
      color: $button-default;
    }
  }

  .loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.85);

    .spinner {
      object-fit: cover;
      position: absolute;
      width: 100px;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
}
